Flask==3.0.0
Werkzeug>=3.0.1
Jinja2>=3.1.5
itsdangerous>=2.2.0
click>=8.1.8
blinker>=1.9.0
MarkupSafe>=3.0.2
tensorflow
keras>=3.0.0
numpy>=1.24.3
pillow>=10.0.0
pymongo>=4.6.1
dnspython>=2.4.2
gunicorn>=21.2.0
setuptools>=69.0.3
h5py>=3.12.1